	<!DOCTYPE html>
<html dir="ltr" lang="en-ES">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Emirodgar" />
	{% seo %}
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Roboto:300,400,700" rel="stylesheet" type="text/css" />
	<link rel="icon" href="../cdn/images/hash.png" />
	<link rel="stylesheet" href="../cdn/css/style.css" type="text/css" />

	<link rel="stylesheet" href="onepage.css" type="text/css" />

	<link rel="stylesheet" href="css/fonts.css" type="text/css" />

	<link rel="stylesheet" href="../css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

</head>

<body class="stretched side-push-panel overlay-menu">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="full-header transparent-header static-sticky">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="logo"><a href="https://emirodgar.com" class="standard-logo"><b>EMIRODGAR</b><i style="font-size:19px;"> digital</i></a></div>

				</div>

			</div>

		</header>
		<section id="slider" class="slider-element slider-parallax full-screen force-full-screen">

			<div class="slider-parallax-inner">

				<div class="full-screen force-full-screen section nobg nopadding nomargin noborder ohidden">
					<div class="container clearfix">

						<div class="vertical-middle center">
							<div class="counter center opm-large-counter"><span data-from="1500" data-to="2015" data-refresh-interval="100" data-speed="5000"></span></div>
						</div>

						<div class="vertical-middle center">
							<div class="emphasis-title nobottommargin">
								<h1 class="uppercase t600" style="font-size: 72px; letter-spacing: 2px;">{{ page.title }}</h1>
								<p class="lead nobottommargin">{{ page.subheader }}</p>
							</div>
						</div>

					</div>
				</div>

				<a href="#" data-scrollto="#section-about" data-easing="easeInOutExpo" data-speed="1250" data-offset="70" class="one-page-arrow"><i class="icon-angle-down infinite animated fadeInDown"></i></a>

			</div>

		</section><!-- #slider end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap nopadding">

				<div id="section-about" class="center page-section">

					<div class="container clearfix lead colorBlack postText" style="font-size: 1.25rem; font-weight: 300;">

						{{ content }}

					</div>

				</div>

			</div>
			
			<div id="section-works" class="page-section notoppadding">
<div class="section nomargin">
<div class="container clearfix">
<div class="divcenter center" style="max-width: 900px;">
<h2 class="nobottommargin t300 ls1">Estos son algunos de los clientes y proyectos en los que he participado a lo largo de los últimos años.</h2>
</div>
</div>
</div>
<div id="portfolio" class="portfolio grid-container portfolio-nomargin portfolio-full portfolio-masonry mixed-masonry clearfix" style="position: relative; height: 768.906px;">
<article class="portfolio-item pf-media pf-icons wide" style="width: 714px; position: absolute; left: 0px; top: 0px;">
<div class="portfolio-image">
<a href="#"><img src="cdn/images/clients/6.webp" alt="Hoteles Barceló" style="visibility: visible; opacity: 1; display: block;"></a>
<div class="portfolio-overlay">
<div class="portfolio-desc" style="margin-top: 164.5px;">
<h3>Hoteles Barceló</h3>
<span>SEO / Expansión internacional</span>
</div>
</div>
</div>
</article>
<article class="portfolio-item pf-illustrations" style="width: 357px; position: absolute; left: 714px; top: 0px;">
<div class="portfolio-image">
<a href="#"><img src="cdn/images/clients/5.webp" alt="FNAC" style="visibility: visible; opacity: 1; display: block;"></a>
<div class="portfolio-overlay">
<div class="portfolio-desc" style="margin-top: 68.5px;">
<h3>FNAC</h3>
<span>SEO / CRO</span>
</div>
</div>
</div>
</article>
<article class="portfolio-item pf-graphics pf-uielements" style="width: 357px; position: absolute; left: 1071px; top: 0px;">
<div class="portfolio-image">
<a href="#"><img src="cdn/images/clients/3.webp" alt="COPE" style="visibility: visible; opacity: 1; display: block;"></a>
<div class="portfolio-overlay">
<div class="portfolio-desc" style="margin-top: 68.5px;">
<h3>RADIO COPE</h3>
<span>SEO / ANALÍTICA</span>
</div>
</div>
</div>
</article>
<article class="portfolio-item pf-media pf-icons wide" style="width: 714px; position: absolute; left: 714px; top: 192px;">
<div class="portfolio-image">
<a href="#"><img src="cdn/images/clients/4.webp" alt="Cadena 100" style="visibility: visible; opacity: 1; display: block;"></a>
<div class="portfolio-overlay">
<div class="portfolio-desc" style="margin-top: 164.5px;">
<h3>CADENA 100</h3>
<span>Analítica / captación social</span>
</div>
</div>
</div>
</article>
<article class="portfolio-item pf-uielements pf-media wide" style="width: 714px; position: absolute; left: 0px; top: 384px;">
<div class="portfolio-image">
<a href="#"><img src="cdn/images/clients/2.webp" alt="Telefónica" style="visibility: visible; opacity: 1; display: block;"></a>
<div class="portfolio-overlay">
<div class="portfolio-desc" style="margin-top: 143.5px;">
<h3>TELEFÓNICA</h3>
<span>SEO / CRO <br><br>Cambio de marca y nuevo portal</span>
</div>
</div>
</div>
</article>
<article class="portfolio-item pf-media pf-icons" style="width: 357px; position: absolute; left: 714px; top: 576px;">
<div class="portfolio-image">
<a href="#"><img src="cdn/images/clients/1.webp" alt="Acciona" style="visibility: visible; opacity: 1; display: block;"></a>
 <div class="portfolio-overlay">
<div class="portfolio-desc" style="margin-top: 68.5px;">
<h3>ACCIONA</h3>
<span>SEO / Marca</span>
</div>
</div>
</div>
</article>
<article class="portfolio-item pf-uielements pf-icons" style="width: 357px; position: absolute; left: 1071px; top: 576px;">
<div class="portfolio-image">
<a href="#"><img src="cdn/images/clients/7.jpg" alt="Hoteles Meliá" style="visibility: visible; opacity: 1; display: block;"></a>
<div class="portfolio-overlay">
<div class="portfolio-desc" style="margin-top: 68.5px;">
<h3>Hoteles Meliá</h3>
<span>SEO / CRO</span>
</div>
</div>
</div>
</article>
</div>
</div>



		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark noborder">
			
			<div class="center" style="padding:30px;">
				<h2 class="nobottommargin t300 ls1" style="color:white;">¿Buscas un SEO de confianza?</h2><br/>
				<a id="btnConversionLkd" href="mailto:hola@emirodgar.com" target="_blank" class="button button-border button-circle button-light">hola@emirodgar.com</a>
			</div>
			<div id="copyrights">
				<div class="container center clearfix">					
					<a href="https://emirodgar.com">Inicio</a> / <a href="https://emirodgar.com/mapa-web">Mapa web</a> / <a target="_blank" href="https://es.linkedin.com/in/emirodgar">LinkedIn</a>  / <a target="_blank" href="https://twitter.com/emirodgar">Twitter</a>
					<br/><br/>
					&copy Emirodgar - SEO - {{ site.time |  date: ' %d/%m/%Y' }}
				</div>
			</div>
			
			

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script async src="../cdn/js/emirodgar.js"></script>
	<script src="../cdn/js/jquery.js"></script>
	<script src="../cdn/js/plugins.js"></script>

	<script src="../cdn/js/functions.js"></script>

</body>
</html>