	<!DOCTYPE html>
<html dir="ltr" lang="en-ES">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Emirodgar" />
	{% seo %}
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Roboto:300,400,700" rel="stylesheet" type="text/css" />
	<link rel="icon" href="../cdn/images/hash.png" />
	<link rel="stylesheet" href="../cdn/css/style.css" type="text/css" />

	<link rel="stylesheet" href="onepage.css" type="text/css" />

	<link rel="stylesheet" href="css/fonts.css" type="text/css" />

	<link rel="stylesheet" href="../css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />


	<!-- Document Title
	============================================= -->
	<title>One Page with Hero Counter | Canvas</title>

</head>

<body class="stretched side-push-panel overlay-menu">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="full-header transparent-header static-sticky">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo"><a href="https://emirodgar.com" class="standard-logo"><b>EMIRODGAR</b><i style="font-size:19px;"> digital</i></a></div>

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu">


					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

		<!-- Slider
		============================================= -->
		<section id="slider" class="slider-element slider-parallax full-screen force-full-screen">

			<div class="slider-parallax-inner">

				<div class="full-screen force-full-screen section nobg nopadding nomargin noborder ohidden">
					<div class="container clearfix">

						<div class="vertical-middle center">
							<div class="counter center opm-large-counter"><span data-from="1500" data-to="2015" data-refresh-interval="100" data-speed="5000"></span></div>
						</div>

						<div class="vertical-middle center">
							<div class="emphasis-title nobottommargin">
								<h1 class="uppercase t600" style="font-size: 72px; letter-spacing: 8px;">{{ page.title }}</h1>
								<p class="lead nobottommargin">{{ page.subheader }}</p>
							</div>
						</div>

					</div>
				</div>

				<a href="#" data-scrollto="#section-about" data-easing="easeInOutExpo" data-speed="1250" data-offset="70" class="one-page-arrow"><i class="icon-angle-down infinite animated fadeInDown"></i></a>

			</div>

		</section><!-- #slider end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap nopadding">

				<div id="section-about" class="center page-section">

					<div class="container clearfix lead" style="font-size: 1.25rem; font-weight: 300;">

						{{ content }}

					</div>

				</div>

			</div>
			
			<div id="section-services">
<div class="section nomargin">
<div class="container clearfix">
<div class="divcenter center" style="max-width: 900px;">
<h2 class="nobottommargin t300 ls1">Apasionado de la <b>tecnología</b> y del <b>growth hacking</b>; cada día intento innovar para generar mayor valor. Estas son las competencias que me definen:</h2>
</div>
</div>
</div>
<div class="common-height clearfix">
<div class="col-md-4 hidden-xs" style="background: url(&quot;cdn/images/author/yo.jpg&quot;) center center / cover no-repeat; height: 464px;"></div>
<div class="col-md-8" style="background-color: rgb(245, 245, 245); height: 464px;">
<div class="max-height">
<div class="row common-height grid-border clearfix">
<div class="col-md-4 col-sm-6 col-padding" style="height: 232px;">
<div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder">
<div class="fbox-icon"><i class="icon-et-mobile"></i></div>
<h3>Perfil técnico</h3>
</div>
</div>
<div class="col-md-4 col-sm-6 col-padding" style="height: 232px;">
<div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder">
<div class="fbox-icon"><i class="icon-et-presentation"></i></div>
<h3>Mente analítica</h3>
</div>
</div>
<div class="col-md-4 col-sm-6 col-padding" style="height: 232px;">
<div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder">
<div class="fbox-icon"><i class="icon-et-puzzle"></i></div>
<h3>Capacidad de innovar</h3>
</div>
</div>
<div class="col-md-4 col-sm-6 col-padding" style="height: 232px;">
<div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder">
<div class="fbox-icon"><i class="icon-et-gears"></i></div>
<h3>Trabajo en equipo</h3>
</div>
</div>
<div class="col-md-4 col-sm-6 col-padding" style="height: 232px;">
<div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder">
<div class="fbox-icon"><i class="icon-et-genius"></i></div>
<h3>Experiencia en Bigdata</h3>
</div>
</div>
<div class="col-md-4 col-sm-6 col-padding" style="height: 232px;">
<div class="feature-box fbox-center fbox-dark fbox-plain fbox-small nobottomborder">
<div class="fbox-icon"><i class="icon-et-hotairballoon"></i></div>
<h3>Abierto a nuevos retos</h3>
</div>
</div>
</div>
</div>
</div>
</div>

</div>



		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark noborder">
			
			<div class="center" style="padding:30px;">
				<a id="btnConversionLkd" href="https://www.linkedin.com/in/emirodgar/" target="_blank" class="button button-border button-circle button-light">hola@emirodgar.com</a>
			</div>
			<div id="copyrights">
				<div class="container center clearfix">					
					<a href="https://emirodgar.com">Inicio</a> / <a href="https://emirodgar.com/mapa-web">Mapa web</a> / <a target="_blank" href="https://es.linkedin.com/in/emirodgar">Linkedin</a>
					<br/>
					&copy Emirodgar - Publicado el {{ site.time |  date: ' %d/%m/%Y' }}
				</div>
			</div>
			
			

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script async src="../cdn/js/emirodgar.js"></script>
	<script src="../cdn/js/jquery.js"></script>
	<script src="../cdn/js/plugins.js"></script>

	<script src="../cdn/js/functions.js"></script>

</body>
</html>