<!DOCTYPE html>
<html dir="ltr" lang="es">
<head>
   <meta charset="utf-8" />
    <title>{{ page.title }} | Proyectos | Emirodgar</title>
    <meta name="author" content="Emirodgar" />
    <meta name="description" content="{{ page.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="../cdn/images/hash.png" />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://emirodgar.com/proyectos/[slug-del-proyecto]" />
    <meta property="og:image" content="https://emirodgar.com/cdn/images/og/emirodgar.png" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="https://emirodgar.com/proyectos/[slug-del-proyecto]" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.description }}" />
    <meta name="twitter:image" content="https://emirodgar.com/cdn/images/og/emirodgar.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Roboto:300,400,500,700&display=swap" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../cdn/css/style.css" type="text/css" />

</head>

<body class="stretched side-push-panel">
    <div class="body-overlay"></div>
    <div id="wrapper" class="clearfix">
        <header id="header" class="full-header static-sticky" data-sticky-offset="0">
            <div id="header-wrap">
                <div class="container clearfix">
                    <div id="logo"><a href="https://emirodgar.com" class="standard-logo"><b>EMIRODGAR</b><i style="font-size:19px;"> seo</i></a></div>
                    <nav id="primary-menu">
                        <ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
                            <li>
                                <a href="https://emirodgar.com">
                                    <div>Sobre mí</div>
                                </a>
                            </li>
                            <li>
                                <a href="https://newsletter.chuletaseo.com">
                                    <div>Newsletter</div>
                                </a>
                            </li>
                            <li class="current">
                                <a href="https://emirodgar.com/proyectos">
                                    <div>Proyectos</div>
                                </a>
                            </li>
                        </ul>
                        <div id="side-panel-trigger" class="side-panel-trigger"><a href="#"><i name="Enlaces" class="icon-reorder"></i></a></div>
                    </nav>
                </div>
            </div>
        </header>
        <section id="content">
            <div class="content-wrap nopadding">
                <div id="section-project-detail" class="page-section">
                    <div class="section nomargin" style="padding:60px 0 0 0">
                        <div class="container clearfix">

                            <a href="proyectos.html" class="pd-back">← Volver a proyectos</a>

                            <span class="pd-eyebrow">{{ page.date |  date: ' %Y' }} · {{ page.folder }} · {{ page.tag }}</span>
                            <h1 class="pd-title">{{ page.title }}</h1>
                            <p class="pd-desc">{{ page.description }}</p>

                            {{ content }}
							
							

                            <div class="pd-cta">
                                <a href="proyectos.html" class="button button-border t500 button-circle">Ver todos los proyectos</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer id="footer" class="dark noborder">
			<div class="container center">
                <div class="footer-widgets-wrap">
                    <div class="row divcenter clearfix">
                        <div class="col-md-4">
                            <div class="widget clearfix">
                                <h4>¿Qué necesitas?</h4>
                                <ul class="list-unstyled footer-site-links nobottommargin">
                                    <li><a href="https://emirodgar.com/contacto">Reducir mi inversión en PPC</a></li>
                                    <li><a href="https://emirodgar.com/contacto">Garantizar una migración</a></li>
                                    <li><a href="https://emirodgar.com/contacto">Formar a mi equipo</a></li>
                                    <li><a href="https://emirodgar.com/contacto">Vender más</a></li>
                                    <li><a href="https://emirodgar.com/contacto">Medir bien</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="widget subscribe-widget clearfix" data-loader="button">
                                <h4>Recursos SEO</h4>
                                <ul class="list-unstyled footer-site-links nobottommargin">
                                    <li><a href="https://newsletter.chuletaseo.com/">Newsletter SEO</a></li>
                                    <li><a href="https://emirodgar.com/consultor-seo">Consultor SEO</a></li>
                                    <li><a href="https://emirodgar.com/asesor-seo">Asesor SEO</a></li>
                                    <li><a href="https://emirodgar.com/publicaciones">Publicaciones</a></li>
                                </ul>
                                <a id="contactEmail" href="https://emirodgar.com/contacto" class="button button-border button-circle button-light topmargin-sm">Contrátame como consultor</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="widget clearfix">
                                <h4>Contacto</h4>
                                <p class="lead">C/ Segunda, 43 - 132
                                    <br/>37188 Salamanca
                                    <br/>(+34) 923 015 199</p>
                                <div class="center topmargin-sm"><a id="btnLinkedIn" target="_blank" rel="noopener" href="https://es.linkedin.com/in/emirodgar" class="social-icon inline-block noborder si-small si-linkedin" title="LinkedIn"><i class="icon-linkedin"></i><i class="icon-linkedin"></i></a><a target="_blank" rel="noopener" id="btnTwitter" href="https://twitter.com/emirodgar" class="social-icon inline-block noborder si-small si-twitter" title="Twitter"><i class="icon-twitter"></i><i class="icon-twitter"></i></a><a target="_blank" rel="noopener" id="btnSlideShare" href="https://es.slideshare.net/emirodgar" class="social-icon inline-block noborder si-small si-linkedin" title="Slideshare"><i class="icon-user"></i><i class="icon-user"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="copyrights">
                <div class="container center clearfix">Marketing Digital desde <b><a href="https://emirodgar.com/consultor-seo-salamanca">Salamanca</a></b> - <a href="https://emirodgar.com/emilio-rodriguez">Emilio Rodríguez García</a> / <a href="https://emirodgar.com/consultor-seo">SEO</a> / <span id="anno"></span></div>
            </div>
		</footer>
    </div>
    <div id="side-panel" class="dark">
		<div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="icon-line-cross"></i></a></div>
        <div id="side-panel-content" class="side-panel-wrap">

		</div>
	</div>
    <div id="gotoTop" class="icon-angle-up"></div>
	<script src="../cdn/js/jquery.js"></script>
	<script src="../cdn/js/plugins.js"></script>
	<script src="../cdn/js/functions.js"></script>
	<script src="../cdn/js/emirodgar.js"></script>
</body>

</html>
