<!DOCTYPE html>
<html lang="es"> 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Emilio Rodríguez - Emirodgar">    
    <link rel="shortcut icon" href="assets/images/hash.png">
	{% seo %}
	{% if page.image== null %}
		<meta content="https://emirodgar.com/cdn/images/og/emirodgar.png" property="og:image">
	{% endif %} 
    
	<script defer src="assets/fontawesome/js/all.min.js"></script>    
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/monokai-sublime.min.css">
    <link id="theme-style" rel="stylesheet" href="https://emirodgar.com/assets/css/theme.css">
    
</head> 

<body>
    
    <header class="header text-center">	    
	    <h1 class="blog-name pt-lg-4 mb-0"><a href="https://emirodgar.com">Emirodgar</a></h1>
        
	    <nav class="navbar navbar-expand-lg navbar-dark" >
           
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navigation" class="collapse navbar-collapse flex-column" >
				<div class="profile-section pt-3 pt-lg-0">
				    <img class="profile-image mb-3 rounded-circle mx-auto" src="assets/images/emirodgar.jpg" alt="image" >			
					
					<div class="bio mb-3">Director SEO en dos agencias internacionales. Experto SEO técnico.  Asesor en ICEX Next.</div><!--//bio-->
					<ul class="social-list list-inline py-3 mx-auto">
			            <li class="list-inline-item"><a target="_blank" href="https://twitter.com/emirodgar"><i class="fab fa-twitter fa-fw"></i></a></li>
			            <li class="list-inline-item"><a target="_blank" href="https://es.linkedin.com/in/emirodgar"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
			            <li class="list-inline-item"><a target="_blank" href="https://webmasters.meta.stackexchange.com/users/86914/emirodgar?tab=profile"><i class="fab fa-stack-overflow fa-fw"></i></a></li>
			        </ul><!--//social-list-->
			        <hr> 
				</div><!--//profile-section-->
				
				<ul class="navbar-nav flex-column text-left">
					<li class="nav-item">
					    <a class="nav-link" href="https://emirodgar.com"><i class="fas fa-home fa-fw mr-2"></i>Página principal <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="https://emirodgar.com/publicaciones"><i class="fas fa-bookmark fa-fw mr-2"></i>Publicaciones</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="https://emirodgar.com/quien-soy"><i class="fas fa-user fa-fw mr-2"></i>Quién soy</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="https://emirodgar.com/casos-exito-seo"><i class="fas fa-star fa-fw mr-2"></i>Casos de éxito</a>
					</li>
				</ul>
				
				<div class="my-2 my-md-3">
				    <a class="btn btn-cta btn-primary " href="https://emirodgar.com/contacto" target="_blank">Contactar</a>
				</div>
			</div>
		</nav>
    </header>
    
    <div class="main-wrapper">
	    
	    <article class="blog-post px-3 py-5 p-md-5">
		    <div class="container">
			    <header class="blog-post-header">
				    <h2 class="title mb-2">{{ page.title }}</h2>
				    <div class="meta mb-3"><span class="date">Publicado el {{ site.time |  date: ' %d/%m/%Y' }}</span><span class="time">{% assign words = content | number_of_words %}
						{% if words < 360 %}
						  1 minuto de lectura
						{% else %}
						  {{ words | divided_by:180 }} minutos de lectura
						{% endif %}</span></div>
			    </header>
			    
			    <div class="blog-post-body">
					{{ content }}				   
			    </div>
				    
			    <nav class="blog-nav nav nav-justified my-5">
				  <a class="nav-link-prev nav-item nav-link rounded-left" href="https://emirodgar.com/contacto">¿HABLAMOS?</a>
				 </nav>
				

				
		    </div><!--//container-->
	    </article>
	    
	    <section style="display:none;" class="promo-section theme-bg-light py-5 text-center">
		    <div class="container">
			    <h2 class="title">Titular</h2>
			    <p>Subtitular. </p>
		    </div><!--//container-->
	    </section><!--//promo-section-->
    
    </div><!--//main-wrapper-->
    
       
    <!-- Javascript -->          
    <script src="assets/plugins/jquery-3.4.1.min.js"></script>
    <script src="assets/plugins/popper.min.js"></script> 
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
    
    <!-- Page Specific JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js"></script>

    <!-- Custom JS -->
    <script src="assets/js/blog.js"></script>
    
    <!-- Style Switcher (REMOVE ON YOUR PRODUCTION SITE) -->
    <script src="assets/js/demo/style-switcher.js"></script>     
    

</body>
</html> 

